<div class="container">
  <div class="col-md-12">
    <mat-card class="about-me-card">
      <mat-card-header>
        <div mat-card-avatar>
          <img src="/assets/pictures/Raj Manda.jpg" alt="Raj Manda" class="header-image" />
        </div>
        <mat-card-title>About us</mat-card-title>
        <mat-card-subtitle>Web Developer | Enthusiast</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          My journey began with a playful curiosity – a fun side project that unexpectedly blossomed into a mesmerizing dance of digital architecture. That initial spark ignited a passion for crafting elegant systems spanning the power of GCP, the orchestration of Kubernetes (harnessing its magic for both front-end Angular and back-end Spring Boot), and the robust data management of Atlas MongoDB. What started as a bit of fun turned into a deep dive into the art of building scalable, containerized magic. Curious to see how this architectural wizardry can elevate your next project? Feel free to contact me.
        </p>
      </mat-card-content>

  <mat-card-actions>
    <span style="display: flex; align-items: center; margin-right: 20px;">
      <mat-icon>mail</mat-icon>
      <a href="mailto:raj.manda&#64;gmail.com" class="contact-button">raj.manda&#64;gmail.com</a>
    </span>
    <span style="display: flex; align-items: center;">
      <mat-icon>phone</mat-icon>
      <span>315-877-5699</span> <!-- Replace with your actual number -->
    </span>
  </mat-card-actions>

    </mat-card>

  <!-- Footer section for certifications -->
  <footer class="certifications-footer">
      <mat-grid-list cols="5" rowHeight="100px" gutterSize="15px">
        <mat-grid-tile *ngFor="let cert of certifications" [colspan]="1" [rowspan]="1" class="certification-tile">
          <div style="text-align: center;">
            <img [src]="cert.icon" [alt]="cert.name" class="certification-icon" />
            <div>{{ cert.name }}</div> <!-- Certification name -->
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </footer>

    <!-- New Section: Project Architecture -->
    <mat-card class="architecture-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="architecture-image-container">
          <img src="/assets/images/Architecture.svg" alt="Project Architecture" class="architecture-image" />
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>

<style>
  .architecture-card {
    margin-top: 20px;
  }

  .architecture-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .architecture-image {
    max-width: 100%;
    height: auto;
  }
</style>
