<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" class="example-sidenav">
    <a mat-button routerLink="home" (click)="sidenav.close()">Home</a>
    <a mat-button routerLink="about-me" (click)="sidenav.close()">About Me</a>
    <a *ngIf="userProfilex.email == 'raj.manda@gmail.com' || userProfilex.email == 'msvram@gmail.com'" mat-button routerLink="create-Gala-Event" (click)="sidenav.close()">Create Event</a>
    <a *ngIf="!loggedin" mat-raised-button color="accent" routerLink="login" routerLinkActive="router-link-active" (click)="sidenav.close()">Login</a>
    <button *ngIf="loggedin" mat-raised-button color="warn" (click)="handleSignOut(); sidenav.close()">Sign Out</button>
  </mat-sidenav>

  <mat-toolbar color="primary" class="matt-elevation-z8">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span><mat-icon>eco</mat-icon> Kalyanam </span>

    <div class="nav-spacer"></div>

    <span *ngIf="loggedin" class="greeting-text">Hi {{ userProfilex.given_name }}!</span>

    <div *ngIf="loggedin" class="profile-photo spaced-photo">
      <img [src]="userProfilex.picture" alt="Profile Photo" />
    </div>
  </mat-toolbar>
</mat-sidenav-container>




