/* Font Styling */
.leckerli-one-regular {
  font-family: "Leckerli One", serif;
  font-weight: 00;
  font-style: normal;
  color: #C03039;
  font-size: 20px;
}

.kalyanamHeader {
  background-color: #ef7b82; /* Set the background color for the entire navbar */
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Automatically distribute space around elements */
  flex-grow: 1; /* Allow the container to grow and take available space */
}

.nav-spacer {
  flex: 1; /* Allow the spacer to take up remaining space */
}

.greeting-text {
  color: black;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); /* Subtle shadow for better readability */
  font-size: 16px; /* Adjust font size to match the toolbar's text */
  font-weight: 400; /* Normal weight for consistency */
  line-height: 1.5; /* Ensures good spacing */
}

.profile-photo {
  width: 36px; /* Set a fixed width */
  height: 36px; /* Set a fixed height */
  border-radius: 50%; /* Make it circular */
  overflow: hidden; /* Ensure the image stays within the circular boundary */
  margin-right: 15px; /* Adjust margin to fit within the toolbar */
}

.profile-photo img {
  width: 100%; /* Ensure the image fills the container */
  height: 100%; /* Ensure the image fills the container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

button[mat-raised-button], button[mat-icon-button] {
  margin-left: 10px; /* Add some space before the button */
}
