<mat-toolbar color="primary1" class="mat-elevation-z8 kalyanamHeader" style="background-color: #45D71A;">
  <span class="leckerli-one-regular">
    <mat-icon>eco</mat-icon> Shravani Kalyanam
  </span>




  <div class="nav-spacer"></div>

  <div class="icon-container">
    <!-- Home Icon -->
    <a mat-button routerLink="home">
      <mat-icon>home</mat-icon>
    </a>

    <!-- About Me Icon -->
    <a mat-button routerLink="about-me">
      <mat-icon>contact_page</mat-icon>
    </a>

    <!-- Logged In Components Container -->
    <ng-container *ngIf="loggedin">
      <!-- Greeting Text -->
      <span class="greeting-text">Hi, {{ userProfilex.given_name }}!</span>

      <!-- Profile Photo -->
      <div class="profile-photo spaced-photo">
        <img [src]="userProfilex.picture" alt="Profile Photo" />
      </div>

      <!-- Sign Out Button -->
      <button mat-icon-button color="warn" (click)="handleSignOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </ng-container>
  </div>
</mat-toolbar>
