.bglogin {
  background-color: #FAE409;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
}

.button-rsvp-wrapper {
  position: absolute;
  bottom: 20px; /* Positions the group of button and text at the bottom */
  right: 20px;
  display: flex;
  flex-direction: column; /* Align the button and RSVP vertically */
  align-items: center; /* Centers them horizontally */
  gap: 10px; /* Adds space between the button and RSVP text */
}

.google-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #dd4b39;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  width: fit-content;
  min-width: max-content;
  white-space: nowrap;
  font-weight: normal;
  border: 0;
}

.google-btn:hover {
  background-color: #c23321;
}

.google-btn img {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
}

/* RSVP Text */
.bglogin ul.list-unstyled {
  font-size: 1.1rem;
  color: #555;
  margin: 0;
}

h1 {
  font-family: 'Fleur De Leah', sans-serif;
  font-size: 2.25rem;
}
