<section class="loginpage">
  <div class="container">
    <div class="row bglogin m-0">
      <div class="col-md-5">
        <img id="introImage" src="assets/images/Sravs solo - red -1.jpeg" class="img-fluid" alt="Sravs solo - red" />

        <video id="introVideo" class="img-fluid" muted style="display: none;">
          <source src="https://storage.googleapis.com/shravani_kalyanam_bucket/invitation.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

      <div class="col-md-7 d-flex align-items-center justify-content-center fmin-vh-100 loginbox">
        <div class="text-left pb-0">
          <div *ngIf="loginMessage" class="alert alert-warning">
            {{ loginMessage }}
          </div>
          <h1><span class="swagatham-text">Suswagatham</span></h1>
          <h1>Shravani Kalyanam!</h1>
        </div>
      </div>
    </div>

    <div class="row bglogin m-0 mt-n5 pt-0">
      <div class="col-md-12 text-center button-rsvp-wrapper">
        <button class="google-btn mt-3" (click)="loginWithGoogle()">
          <i class="fab fa-google"></i> Sign in with Google
        </button>
        <ul class="list-unstyled mt-3">
          <li>🎉 RSVP</li>
        </ul>
      </div>
    </div>
  </div>
</section>
