<section>
  <div class="container">
      <div class="row bglogin m-5">
          <div class="col-md-5">
              <img src="/assets/images/loginleftlady.jpg" class="img-fluid" alt="Left Lady" />
          </div>
          <div class="col-md-7 d-flex align-items-center justify-content-center fmin-vh-100">
              <div class="text-left">
                  <!-- Login Message -->
                  <div *ngIf="loginMessage" class="alert alert-warning">
                      {{ loginMessage }}
                  </div>

                  <h1>Log in with your Google account</h1>
                  <hr style="border: 1px solid #777;">

                  <!-- Google Sign-In Button -->
                  <div 
                      id="g_id_onload"
                      data-client_id="175415323680-4t3u58105ihj3sk9di0er3kv70cf3arh.apps.googleusercontent.com"
                      data-context="signin"
                      data-ux_mode="popup"
                      data-callback="handleCredentialResponse">
                  </div>
                  
                  <div
                      class="g_id_signin"
                      data-type="standard"
                      data-shape="pill"
                      data-theme="filled_blue"
                      data-text="signin_with"
                      data-size="large"
                      data-logo_alignment="left">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<footer class="kalyanamFooter">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="d-flex align-items-center justify-content-center">
                  <p>© 2025 Kalyanam. All rights reserved.</p>
              </div>
          </div>
      </div>
  </div>
</footer>