<div class="rsvp-form">
  <form [formGroup]="rsvpForm" (ngSubmit)="submit()">
    <!-- <div class="form-group">
      <label for="rsvp">RSVP:</label>
      <select id="rsvp" formControlName="rsvp" (change)="onRsvpChange()">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div> -->

    <div>
      <div class="form-group">
        <label for="adults">Adults:</label>
        <select id="adults" formControlName="adults">
          <option *ngFor="let num of adultOptions" [value]="num">{{ num }}</option>
        </select>
      </div>


      <div class="form-group">
        <label for="children">Children:</label>
        <select id="children" formControlName="children">
          <option *ngFor="let num of childrenOptions" [value]="num">{{ num }}</option>
        </select>
      </div>


      <div class="form-group">
        <label for="total">Total:</label>
        <span> {{totalGuests}} </span>
      </div>
    </div>

    <button (click)="submit()">Submit</button>
  </form>
</div>

