
<!-- <div class="card-container">
  <div *ngFor="let eventDTO of galaEventsDTOs" >
    <app-gala-event [galaEventDTO]="eventDTO"> </app-gala-event>
  </div>
</div> -->

  <!-- Add Event Icon -->
  <div *ngIf="isAdmin" class="add-event-icon-container">
    <a mat-icon-button routerLink="/create-gala-event" aria-label="Add Event">
      <mat-icon>add</mat-icon><span> Add Event</span>
    </a>
  </div>
  <!-- Add Event Icon -->
  <div *ngIf="isAdmin" class="add-event-icon-container">
    <a mat-icon-button routerLink="/pictures" aria-label="Select Pictures">
      <mat-icon>image</mat-icon><span> Select Pictures</span>
    </a>
  </div>
  <!-- Add Event Icon -->
  <!-- <div *ngIf="isAdmin" class="add-event-icon-container">
    <a mat-icon-button routerLink="/upload" aria-label="Upload Picture">
      <mat-icon>upload_file</mat-icon><span> Select Pictures</span>
    </a>
  </div> -->

<div class="card-container">
  <!-- List of Events -->
  <div *ngFor="let eventDTO of galaEventsDTOs">
    <app-gala-event [galaEventDTO]="eventDTO"></app-gala-event>
  </div>
</div>
