/* .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 22px;
  padding:2px;
  justify-content: center;
  grid-auto-flow: dense;
} */


.kalyanamFooter{
	background-color: #0F121F;color:#ffffff;padding-top: 15px;padding-bottom: 15px;
}

.kalyanamFooter p {
    margin-bottom: 0px;
}

/* Add Event Button Container */
.add-event-button-container {
  text-align: center; /* Center the button */
  margin-bottom: 20px; /* Add some spacing below the button */
}

/* Add Event Button */
.add-event-button-container button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Space between icon and text */
}

.card-container {
  display: flex; /* Enable flexbox */
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  gap: 16px; /* Add spacing between items */
}

.card-container > div {
  flex: 1 1 calc(33% - 16px); /* Each item takes 50% of the container width minus the gap */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

@media (max-width: 768px) {
  .card-container > div {
    flex: 1 1 100%; /* Each item takes 100% of the container width on smaller screens */
  }
}
