
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2px;
}

.kalyanamFooter{
	background-color: #0F121F;
  color: var(--white);
  padding-top: 15px;
  padding-bottom: 15px;
}

.kalyanamFooter p {
    margin-bottom: 0px;
    color: #ffffff;
}

.footer-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; /* Adjust height as needed */
  background-color: #0F121F; /* Matches your Bootstrap color */
  color: white; /* Text color */
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); /* Subtle shadow for better readability */
  font-size: 16px; /* Adjust font size to match the toolbar's text */
  font-weight: 400; /* Normal weight for consistency */
  line-height: 1.5; /* Ensures good spacing */
}
