<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- Footer -->
<footer class="kalyanamFooter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex align-items-center justify-content-center">
            <p>© 2025 Kalyanam. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!-- fontfamily for header and website -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Leckerli+One&display=swap" rel="stylesheet">

