<mat-toolbar *ngIf="!isMobile">
  <span class="icon-text">
    <mat-icon class="icon">eco</mat-icon>
    <span class="name">
      Shravani Kalyanam
    </span>
  </span>

  <span class="example-spacer"></span>

  <!-- <button *ngIf="isAdminCheckComplete && isAdmin" -->
  <button
    (click)="openRsvpModal()"
    mat-raised-button

    class="btn btn-orange text-uppercase"
    aria-label="RSVP Management">
    RSVP ALL
  </button>



  <button
    routerLink="home"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Home">
    <mat-icon>home</mat-icon>
  </button>



  <button
    routerLink="about-me"
    mat-icon-button
    class="example-icon"
    aria-label="About">
    <mat-icon>contact_page</mat-icon>
  </button>



  <ng-container *ngIf="loggedin">
    <span class="greeting-text">Hi, {{ userProfilex.given_name }}!</span>
    <div class="profile-photo">
      <img [src]="userProfilex.picture" alt="Profile Photo" />
    </div>
    <button mat-icon-button color="warn" (click)="handleSignOut()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<mat-toolbar *ngIf="isMobile">
  <!-- Hamburger menu button -->
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Menu"
    class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="icon-text">
    <mat-icon class="icon">eco</mat-icon>
    <span class="name">
      Shravani Kalyanam
    </span>
  </span>

  <span class="example-spacer"></span>

  <ng-container *ngIf="loggedin">
    <div class="profile-photo">
      <img [src]="userProfilex.picture" alt="Profile Photo" />
    </div>
    <button mat-icon-button color="warn" (click)="handleSignOut()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>

  <!-- Mobile Menu Contents -->
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>

    <button mat-menu-item routerLink="about-me">
      <mat-icon>contact_page</mat-icon>
      <span>About</span>
    </button>

    <!-- <button *ngIf="isAdminCheckComplete && isAdmin" -->
     <button
        mat-menu-item
        (click)="openRsvpModal()">
      <mat-icon>list_alt_add</mat-icon>
      <span>RSVP ALL </span>
    </button>

    <button mat-menu-item (click)="handleSignOut()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
