* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;

}

.item {
  flex: 1 1 auto; /* Flex-grow: 1, Flex-shrink: 1, Flex-basis: auto */
  min-width: 100px; /* Minimum width for the flex items */
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 2px;
}
